@using ProductGallary.TDO
@model GalaryInfoDTO
@{
    ViewData["Title"] = "الداشبورد";
}
 

<a class="btn btn-success mb-3" asp-area="" asp-controller="Gallary" asp-action="mygallary" asp-route-id="@Model.user_id">المعارض</a>

